table tbody tr.malicious {
    color: #b40c1a;
  }
  table tbody tr:nth-child(2n+1) {
    background-color: #f9f9f9;
  }
  input {
    background-color: #FFF;
    border-color: #0f74bc;
  }
  .summary {
    border-color: #0f74bc;
  }
  .ascii-logo {
    color: #0f74bc;
  }
  body {
    background-color: #FFF;
    color: #0f74bc;
  }
  a {
    border-color: #0f74bc;
  }
  a:hover {
    border-color: #0f74bc;
  }
  button {
    border-color: #0f74bc;
  }
  .tabs {
    border-color: #0f74bc;
  }
  .tabs button {
    border-color: #0f74bc;
  }
  .tabs button.active {
    border-bottom: 1px solid #FFF;
  }